footer.footer
	.container
		.row.no-gutters.justify-content-between
			.left-block
				.footer-logo
					a(href="#")
						img(src="images/logo-footer.svg", alt="")
				.copyright © МИЛОЙД, 2014 – 2018. Все права защищены
				.visible-md
					h6.footer-title Мы в соцсетях
					.social
						a(href="#").social-item.middle
							img(src="images/fb.svg", alt="")
						a(href="#").social-item.middle
							img(src="images/vk.svg", alt="")
						a(href="#").social-item.middle
							img(src="images/instagram.svg", alt="")
			.footer-block
				h6.footer-title О Милойд
				ul.footer-menu
					li
						a(href="#") О компании
					li
						a(href="#") Магазины
					li
						a(href="#") Аренда
					li
						a(href="#") Вакансии
					li
						a(href="#") Новости и акции
			.footer-block.hidden-sm
				h6.footer-title Покупателям
				ul.footer-menu.footer-menu--inline
					li
						a(href="#") Доставка и оплата
					li
						a(href="#") Обмен и возврат
					li
						a(href="#") Условия продажи
				ul.footer-menu.footer-menu--inline
					li
						a(href="#") Дисконтная программа
					li
						a(href="#") Политика конфиденциальности
			.footer-block.hidden-sm
				h6.footer-title Обратная связь
				ul.footer-menu
					li
						a(href="#") Напишите нам
					li
						a(href="#") Оставить отзыв
					li
						a(href="#") Контакты
					li
						a(href="#") FAQ
			.footer-block.hidden-md
				h6.footer-title Мы в соцсетях
				.social
					a(href="#").social-item.middle
						img(src="images/fb-white.svg", alt="")
					a(href="#").social-item.middle
						img(src="images/vk-white.svg", alt="")
					a(href="#").social-item.middle
						img(src="images/instagram-white.svg", alt="")
							
.popup#popup
		.popup-content
			.popup-header
				h2.popup-title Онлайн заявка
			.popup-body
				.form-group
					.form-label Имя
					input(type="text").form-control.form-control--popup
				.form-group
					.form-label E-mail
					input(type="text").form-control.form-control--popup
				.form-group
					.form-label Комментарий
					textarea.form-control.form-control--popup
				.form-group.form-group--submit
					button(type="submit").btn.btn-black.btn-submit Отправить заявку