.mobile-menu#mobile-menu
	a(href="#").menu-close
		img(src="images/close.svg", alt="")
	.mobile-menu__content
		ul
			li
				a(href="#") О компании
			li
				a(href="#") Доставка и оплата
			li
				a(href="#") Примерка
			li
				a(href="#") FAQ
			li
				a(href="#") Новости и акции
			li
				a(href="#") Контакты
			li
				a(href="#") Магазины
header.header
	.top-block
		.container
			.row.no-gutters.align-items-center.justify-content-between
				.hamburger-box.visible-lg.menu-btn
					.hamburger-inner
				ul.top-menu.hidden-lg
					li
						a(href="#") О компании
					li
						a(href="#") Доставка и оплата
					li
						a(href="#") Примерка
					li
						a(href="#") FAQ
					li
						a(href="#") Новости и акции
					li
						a(href="#") Контакты
					li
						a(href="#") Магазины
				div
					a(href="javascript:;" data-fancybox data-src="#popup").top-btn.middle Онлайн-заявка
					a(href="#").top-btn.middle
						span.middle.top-btn__icon
							img(src="images/loupe.svg", alt="")
						span.middle.hidden-xs Поиск
					a(href="#").top-btn.middle
						span.middle.top-btn__icon
							img(src="images/login.svg", alt="")
						span.middle.hidden-xs Войти
	.top-second-block
		.container
			.row.no-gutters.align-items-center.justify-content-between
				.logo
					a(href="#")
						img(src="images/logo.svg", alt="")
				ul.nav-menu.hidden-lg
					li
						a(href="#")
							span.middle.nav-menu__name Женщинам
							span.middle.nav-menu__icon
								img(src="images/arrow-down.svg", alt="")
						.dropdown
							.container
								.row.no-gutters
									.dropdown-item.dropdown-item--large
										h6.dropdown-title
											a(href="#") Женская обувь
										ul.dropdown-menu.dropdown-menu--inline
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
										ul.dropdown-menu.dropdown-menu--inline
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
									.dropdown-item
										h6.dropdown-title
											a(href="#") Сумки
										ul.dropdown-menu
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
									.dropdown-item
										h6.dropdown-title
											a(href="#") Одежда
										ul.dropdown-menu
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
									.dropdown-item
										h6.dropdown-title
											a(href="#") Аксессуары
										ul.dropdown-menu
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
					li
						a(href="#") 
							span.middle.nav-menu__name Мужчинам
							span.middle.nav-menu__icon
								img(src="images/arrow-down.svg", alt="")
					li
						a(href="#") 
							span.middle.nav-menu__name Весна 2018
							span.middle.nav-menu__icon
								img(src="images/arrow-down.svg", alt="")
					li
						a(href="#")
							span.middle.nav-menu__name Распродажа %
							span.middle.nav-menu__icon
								img(src="images/arrow-down.svg", alt="")
				div
					.telephone.middle 8 (495) 337-37-37
					a(href="#").nav-btn.middle.hidden-xs
						span.nav-btn__icon
							img(src="images/love.svg", alt="")
						span.count 1
					a(href="#").nav-btn.middle.hidden-xs
						span.nav-btn__icon
							img(src="images/cart.svg", alt="")
						span.count 3
				.visible-xs
					a(href="#").nav-btn.middle
						span.nav-btn__icon
							img(src="images/love.svg", alt="")
						span.count 1
					a(href="#").nav-btn.middle
						span.nav-btn__icon
							img(src="images/cart.svg", alt="")
						span.count 3
			ul.nav-menu.visible-lg
				li
					a(href="#")
						span.middle.nav-menu__name Женщинам
						span.middle.nav-menu__icon
							img(src="images/arrow-down.svg", alt="")
					.dropdown
							.container
								.row.no-gutters
									.dropdown-item.dropdown-item--large
										h6.dropdown-title
											a(href="#") Женская обувь
										ul.dropdown-menu.dropdown-menu--inline
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
										ul.dropdown-menu.dropdown-menu--inline
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
									.dropdown-item
										h6.dropdown-title
											a(href="#") Сумки
										ul.dropdown-menu
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
									.dropdown-item
										h6.dropdown-title
											a(href="#") Одежда
										ul.dropdown-menu
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
									.dropdown-item
										h6.dropdown-title
											a(href="#") Аксессуары
										ul.dropdown-menu
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
											li
												a(href="#") Пункт меню
				li
					a(href="#") 
						span.middle.nav-menu__name Мужчинам
						span.middle.nav-menu__icon
							img(src="images/arrow-down.svg", alt="")
				li
					a(href="#") 
						span.middle.nav-menu__name Весна 2018
						span.middle.nav-menu__icon
							img(src="images/arrow-down.svg", alt="")
				li
					a(href="#")
						span.middle.nav-menu__name Распродажа %
						span.middle.nav-menu__icon
							img(src="images/arrow-down.svg", alt="")