.news-item
	.news-img(style="background-image: url(http://via.placeholder.com/288x160)")
	h4.news-title Новая коллекция Весна-Лето 2018
	p.news-text Коллекция Весна-Лето 2018 сочетает в себе традиции, инновации и дизайн, вдохновленный природой.