.product-item
	.p-img.row.no-gutters.align-items-end
		div
			img(src="http://via.placeholder.com/270x150", alt="")
		.p-like
			img(src="images/love-grey.svg", alt="")
		.p-label
			.p-label__new new
			.p-label__hit hit
	.p-name Босоножки на полиуретановой платформе, J.B.Martin
	.p-price
		.p-price__today.middle 3 400 руб.
		.p-price__prev.middle 3 600 руб.
	.product-hidden
		.p-size
			a(href="#").p-size__item.active.middle 36
			a(href="#").p-size__item.middle 37
			a(href="#").p-size__item.middle 38
		.p-btn
			a(href="#")
				span.middle.p-btn__icon
					img(src="images/cart.svg", alt="")
				span.middle В корзину