.popup-content{
	width: 610px;
	margin: auto;
	padding: 30px;
}
.popup-title{
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	font-family: $eb;
	margin-bottom: 35px;
}
.popup{
	display: none;
}