.sale{
	margin-bottom: 70px;
}
.sale-text{
	max-width: 400px;
	height: 100%;
}
.date{
	color: #383a47;
}
.sale-banner{
	position: absolute;
	right: 0;
	top: 0;
	width: 531px;
	height: 265px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
.sale-content{
	position: relative;
	height: 265px;
}